{% load http_method %}

{{ method }} request{% if params %} with params:
<ul>
    {% for k,v in params.items %}
    <li>{{ k }} : {{ v }}</li>
    {% endfor %}
</ul>

{% endif %}

<hr>

<form action="/" method="post">
    {% csrf_token %}
    {% http_get %}
    <input type="text" name="hidden" value="text" hidden>
    <button type="submit">Send a GET request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_post %}
    <input type="text" name="hidden" value="text" hidden>
    <button type="submit">Send a POST request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_head %}
    <button type="submit">Send a HEAD request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_put %}
    <input type="text" name="hidden" value="text" hidden>
    <button type="submit">Send a PUT request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_delete %}
    <input type="text" name="hidden" value="text" hidden>
    <button type="submit">Send a DELETE request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_patch %}
    <input type="text" name="hidden" value="text" hidden>
    <button type="submit">Send a PATCH request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_options %}
    <button type="submit">Send a OPTIONS request</button>
</form>

<br>

<form action="/" method="post">
    {% csrf_token %}
    {% http_trace %}
    <button type="submit">Send a TRACE request</button>
</form>
